body {
  max-width: 1200px;
  /* border: 1px solid #000; */
  margin: 0 auto;
}
.slideShow {
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}
.carousel {
  width: 30rem;
  height: 30rem;
  border: 2rem solid #eebe97;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  transition: rotate 1s;
}
.slide {
  width: 5rem;
  position: absolute;
  /* border: 1px solid red; */
}

.slide:nth-child(1) {
  right: -28px;
  /* right: -250px; */
}
.slide:nth-child(2) {
  right: 28px;
  bottom: 20px;
}
.slide:nth-child(3) {
  rigth: unset;
  bottom: -28px;
}
.slide:nth-child(4) {
  left: 28px;
  bottom: 20px;
}
.slide:nth-child(5) {
  left: -28px;
}
.slide:nth-child(6) {
  top: 20px;
  left: 28px;
}
.slide:nth-child(7) {
  top: -28px;
  rigth: unset;
}
.slide:nth-child(8) {
  top: 20px;
  right: 28px;
  transition: transform 0.5s;
}

.slide.active img {
  transform: scale(4);
  transition: transform 0.5s 0.5s;
}
.slide img {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
