body {
  max-width: 1200px;
  /* border: 1px solid #000; */
  margin: 0 auto;
}

.heroBannerSection2 {
  position: absolute;
  height: 100%;
}
.heroBannerSection3 {
  position: absolute;
  bottom: 0;
}
.slideShow {
  height: 100%;
  /* height: 100vh; */
  /* background-color: antiquewhite; */
  /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
  /* align-items: center; */

  /* background-image: url(../../assets/images/hero-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  position: relative;
}
.carousel {
  width: 30rem;
  height: 30rem;
  /* border: 2rem solid #eebe97; */
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 134px;
  left: 282px;
  transition: rotate 1s;
}
.slide {
  width: 6rem;
  position: absolute;
  border: 5px solid #ffffff;
  border-radius: 100%;
}

.slide:nth-child(1) {
  right: -28px;
  /* right: -250px; */
}
.slide:nth-child(2) {
  right: 28px;
  bottom: 20px;
}
.slide:nth-child(3) {
  rigth: unset;
  bottom: -28px;
}
.slide:nth-child(4) {
  left: 28px;
  bottom: 20px;
}
.slide:nth-child(5) {
  left: -28px;
}
.slide:nth-child(6) {
  top: 20px;
  left: 28px;
}
.slide:nth-child(7) {
  top: -28px;
  rigth: unset;
}
.slide:nth-child(8) {
  top: 20px;
  right: 28px;
  transition: transform 0.5s;
}

.slide.active img {
  transform: scale(2);
  transition: transform 0.5s 0.5s;
}
.slide img {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
